<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abhikr.abhikr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".service.AppCrash"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/YOUR_ADMOB_APP_ID"/>
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentBackground"/>
        <activity android:name=".MainActivity_old" />
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme"/>
        <activity android:name=".EXP" />
        <activity
            android:name=".SignUp"
            android:parentActivityName=".SignIn">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abhikr.abhikr.SignIn" />
        </activity>
        <activity
            android:name=".ResetPass"
            android:parentActivityName=".SignUp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abhikr.abhikr.SignUp" />
        </activity>
        <activity
            android:name=".SignIn"
            android:label="@string/app_name"
            android:parentActivityName=".SignUp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abhikr.abhikr.SignUp" />
        </activity>
        <activity
            android:name=".Phone"
            android:parentActivityName=".SignUp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abhikr.abhikr.SignUp" />
        </activity>
        <activity android:name=".GoogleSignIn" />
        <activity android:name=".Fire_Push.ActivitySendPushNotification" />
        <activity android:name=".Fire_Push.Main2Activity" />
        <activity
            android:name=".SampleActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".menu.menu_drawer" />


        <service android:name=".Fire_Push.MyFirebaseMessagingService"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notify_group" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.RegisterActivity"
            android:launchMode="singleTop"
            android:theme="@style/Translucent" />
        <activity
            android:name=".ui.ChatActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddGroupActivity"
            android:theme="@style/MyThemeNoActionbar" />

        <service
            android:name=".service.FriendChatService"
            android:exported="false"
            android:persistent="true" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <activity android:name=".Splash_Reveal"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>